body{
    background-color: aqua;
    text-align: center;
    margin: 0;

}
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: aqua;
    color: black;
}
.deiin{

    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 255, 21);
}
.view1{
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 255, 21);
}
.Home2{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff; /* لون زر الحاسب */
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Home2:hover{
    background-color: aqua;
    color: black;
}
img{
    border: 15px;
    border-radius: 29px;
}